*{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

/*probably need to fix this */
h1 {
	display: inline;
	position: fixed;
	top: -2px;
	margin-left: 5px;
}

nav ul{
	list-style-type: none;
	text-align: right;
	padding: 0;
	margin: 20px 0px;
}

li {
	display: inline;
	margin: 0 12px 0 20px;
	font-size: 1em;
}

a{
	color: #008888;
	text-decoration: none;
}

a:link{
	color: #008888;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.wrapper {
	width: 725px;
	margin: 0 auto;
}

img {
	width: 350px;
	height: 250px;
	margin: 5px;
	display: inline-block;
}

@media screen and (max-width: 745px), screen and (max-device-width: 745px){
	.wrapper {
		width: 90%;
		margin: 0 auto;
	}
	img {
		width: 100%;
		height: auto;
		margin: 10px auto;
	}
	nav ul{
		text-align: center;
	}
	nav ul li{
		margin: 20px;
	}
	h1 {
		margin: 0 auto;
		display: block;
		position: relative;
		text-align: center;
		margin-top: 20px;
	}
}

@media screen and (min-width: 1120px){
	.wrapper {
		width: 1100px;
	}
	nav ul{
		margin: 20px 10px;
	}
}

/*for some reason this causes issue when scaling down
{
	.wrapper {
		width: 90%;
		margin: 0 auto;
	}
	img {
	width: 100%;
	height: auto;
	margin: 5px;
	display: inline-block;
}
	li {
		display: inline;
		margin: 0 5%;
		font-size: 2em;
	}
}*/

/* media query at width 845px??? */