*{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

nav ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
}
li {
	display: inline;
	margin: 0 5%;
	font-size: 1em;
}

a{
	color: #008888;
	text-decoration: none;
}

a:link{
	color: #008888;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.wrapper {
	width: 725px;
	margin: 0 auto;
}

img {
	width: 350px;
	height: 250px;
	margin: 5px;
	display: inline-block;
}

@media screen and (max-width: 745px), screen and (max-device-width: 745px){
	.wrapper {
		width: 90%;
		margin: 0 auto;
	}
	img {
		width: 100%;
		height: auto;
		margin: 10px auto;
	}
}

/*for some reason this causes issue when scaling down
{
	.wrapper {
		width: 90%;
		margin: 0 auto;
	}
	img {
	width: 100%;
	height: auto;
	margin: 5px;
	display: inline-block;
}
	li {
		display: inline;
		margin: 0 5%;
		font-size: 2em;
	}
}*/

/* media query at width 845px??? */